---
layout: default
---

<div class="About Me">
  {{ content }}

  <ul class="psot-list">
    {% for post in site.posts %}
    {% if post.aboutMe != null %}
        <li>        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>      </li>
    {% endif %}
    {% endfor %}
  </ul>
  <a href="https://ltw10.github.io/projects/personalWebsite/" style="btn">Github Personal Website</a>
<a href="https://ltw10.github.io/projects/pingPongBallLauncher/" style="btn">Ping Pong Ball Launcher</a>
<a href="https://ltw10.github.io/projects/pokerGame/" style="btn">Poker Game</a>
  
</div>
